{% include 'header' %}

import UIKit

final class {{ module_info.name }}ViewController: UIViewController {

    // MARK: - Публичные свойства

    /// Presenter
    var output: {{ module_info.name }}ViewOutput!

}


// MARK: - UIViewController

extension {{ module_info.name }}ViewController {

    override func viewDidLoad() {
        super.viewDidLoad()

        self.output.didTriggerViewReadyEvent()
    }

}


// MARK: - {{ module_info.name }}ViewInput

extension {{ module_info.name }}ViewController: {{ module_info.name }}ViewInput {

    func setupInitialState() { }

}
