{% include 'header' %}

import UIKit

final class {{ module_info.name }}Router: Router {

    // MARK: - Публичные свойства

    weak var viewController: UIViewController?


    // MARK: - Инициализация

    init(viewController: UIViewController? = nil) {
        self.viewController = viewController
    }

}


// MARK: - {{ module_info.name }}RouterInput

extension {{ module_info.name }}Router: {{ module_info.name }}RouterInput { }
