{% include 'header' %}

final class {{ module_info.name }}Presenter {

    // MARK: - Публичные свойства

    /// View
    weak var view: {{ module_info.name }}ViewInput?
    /// Interactor
    var interactor: {{ module_info.name }}InteractorInput!
    /// Router
    var router: {{ module_info.name }}RouterInput!

}


// MARK: - {{ module_info.name }}ViewOutput

extension {{ module_info.name }}Presenter: {{ module_info.name }}ViewOutput {

    func didTriggerViewReadyEvent() {
        self.view?.setupInitialState()
    }

}


// MARK: - {{ module_info.name }}InteractorOutput

extension {{ module_info.name }}Presenter: {{ module_info.name }}InteractorOutput { }
