//
//  {{ prefix }}{{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date | date: "%d.%m.%Y" }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//