{% include 'header' %}

final class {{ module_info.name }}Interactor {

    // MARK: - Публичные свойства

    /// Presenter
    weak var output: {{ module_info.name }}InteractorOutput!


    // MARK: - Инициализация

    init() { }

}


// MARK: - {{ module_info.name }}InteractorInput

extension {{ module_info.name }}Interactor: {{ module_info.name }}InteractorInput { }
