{% include 'header' %}

import UIKit

final class {{ module_info.name }}ModuleAssembly {

    /// Собрать модуль
    static func assembleModule() -> UIViewController {
        let storyboard = UIStoryboard(storyboard: .{{ module_info.name | downcase }})
        let view: {{ module_info.name }}ViewController = storyboard.instantiateViewController()

        let presenter = {{ module_info.name }}Presenter()
        let interactor = {{ module_info.name }}Interactor()
        let router = {{ module_info.name }}Router()

        view.output = presenter

        presenter.view = view
        presenter.interactor = interactor
        presenter.router = router

        interactor.output = presenter

        router.viewController = view

        return view
    }

}
